<h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">请在左侧选择您要办理的业务</h2>
<p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4">
  具体办理流程请参阅
  <a class="color-primary"
     href="http://test.nngeo.com/Content/%E5%8D%97%E5%AE%81%E5%B8%82%E4%B8%8D%E5%8A%A8%E4%BA%A7%E7%BB%BC%E5%90%88%E6%9C%8D%E5%8A%A1%E5%B9%B3%E5%8F%B0%E7%94%A8%E6%88%B7%E6%89%8B%E5%86%8C.pdf"
     target="_blank" title="点击下载使用手册">使用手册</a> ，如需帮助请致电0771-5609391（周一到周五早上8-12点、下午2点30-5点30分，节假日除外）
</p>
