<div class="col-md-5">
  <div class="card index-1 animated zoomInRight animation-delay-7">
    <ul class="nav nav-tabs nav-tabs-full nav-tabs-3 shadow-2dp" role="tablist">
      <li role="presentation" class="active">
        <a routerLink="./loafter" aria-controls="ms-login-tab" role="tab" data-toggle="tab" class="withoutripple">
          <i class="zmdi zmdi-account"></i> <span class="hidden-xs">登录</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#ms-register-tab" aria-controls="ms-register-tab" role="tab" data-toggle="tab"
           class="withoutripple">
          <i class="zmdi zmdi-account-add"></i> <span class="hidden-xs"> 注册</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#ms-recovery-tab" aria-controls="ms-recovery-tab" role="tab" data-toggle="tab"
           class="withoutripple">
          <i class="zmdi zmdi-key"></i><span class="hidden-xs">忘记密码</span>
        </a>
      </li>
    </ul>
    <div class="card-block ">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="ms-login-tab">
          <form autocomplete="off" action="./index3.html">
            <fieldset>
              <div class="form-group label-floating">
                <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="zmdi zmdi-account"></i>
                                                            </span>
                  <label class="control-label" for="ms-form-user">用户名</label>
                  <input type="text" id="ms-form-user" class="form-control">
                </div>
              </div>
              <div class="form-group label-floating">
                <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="zmdi zmdi-lock"></i>
                                                            </span>
                  <label class="control-label" for="ms-form-pass">密码</label>
                  <input type="password" id="ms-form-pass" class="form-control">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <div class="form-group no-mt">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> 记住用户名
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <button routerLink="/home/loafter" class="btn btn-raised btn-primary pull-right">登录</button>
                </div>
              </div>
            </fieldset>
          </form>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="ms-register-tab">
          <form>
            <fieldset>
              <div class="form-group label-floating">
                <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="zmdi zmdi-account"></i>
                                                            </span>
                  <label class="control-label" for="ms-form-user">Username</label>
                  <input type="text"  class="form-control">
                </div>
              </div>
              <div class="form-group label-floating">
                <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="zmdi zmdi-email"></i>
                                                            </span>
                  <label class="control-label" for="ms-form-email">Email</label>
                  <input type="email"  class="form-control">
                </div>
              </div>
              <div class="form-group label-floating">
                <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="zmdi zmdi-lock"></i>
                                                            </span>
                  <label class="control-label" for="ms-form-pass">Password</label>
                  <input type="password"  class="form-control">
                </div>
              </div>
              <div class="form-group label-floating">
                <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="zmdi zmdi-lock"></i>
                                                            </span>
                  <label class="control-label" for="ms-form-pass">Re-type Password</label>
                  <input type="password"  class="form-control">
                </div>
              </div>
              <button class="btn btn-raised btn-block btn-primary">Register Now</button>
            </fieldset>
          </form>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="ms-recovery-tab">
          <form>
            <fieldset>
              <div class="form-group label-floating">
                <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="zmdi zmdi-account"></i>
                                                            </span>
                  <label class="control-label" for="ms-form-user">Username</label>
                  <input type="text"  class="form-control">
                </div>
              </div>
              <div class="form-group label-floating">
                <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="zmdi zmdi-email"></i>
                                                            </span>
                  <label class="control-label" for="ms-form-email">Email</label>
                  <input type="email" id="ms-form-email" class="form-control">
                </div>
              </div>
              <button class="btn btn-raised btn-block btn-primary">Send Password</button>
            </fieldset>
          </form>


        </div>
      </div>

    </div>
  </div>
</div>
