<div class="col-md-5">
  <div class="card index-1 animated zoomInRight animation-delay-7">
    <div class="card-block-big color-dark">

      <div class="text-center">
        <span class="ms-logo ms-logo-white ms-logo-lg ">唐</span>
      </div>
      <h3 class="color-primary">尊敬的唐源健：</h3>
      <p class="lead">您已登录南宁市不动产登记综合服务平台,欢迎使用。</p>

      <div class="text-center mt-4">
        <button class="btn btn-raised btn-primary  withoutripple" type="button">
          <i class="fa fa-exchange" aria-hidden="true"></i> 修改密码
        </button>
        <button routerLink="/home" class="btn btn-raised btn-danger  withoutripple" type="button">
          <i class="fa fa-sign-out" aria-hidden="true"></i> 退出登录
        </button>
      </div>


    </div>
  </div>
</div>
